option_settings:

  aws:elasticbeanstalk:container:python:
    WSGIPath: voterable/wsgi.py
    NumProcesses: '1'
    NumThreads: '15'
    StaticFiles: /static/=static/

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: voterable.settings
    PYTHONPATH: /opt/python/current/app/src:$PYTHONPATH

  aws:autoscaling:launchconfiguration:
    EC2KeyName: ExternalUser
    InstanceType: t2.micro

  aws:autoscaling:trigger:
    BreachDuration: 5
    LowerBreachScaleIncrement: -1
    LowerThreshold: 2000000
    MeasureName: NetworkOut
    Period: 5
    Statistic: Average
    Unit: Bytes
    UpperBreachScaleIncrement: 1
    UpperThreshold: 6000000

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    ServiceRole: aws-elasticbeanstalk-ec2-role
    LoadBalancerType: application

  aws:elbv2:loadbalancer:
    ManagedSecurityGroup: sg-3be8c45c

  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:115264615317:certificate/98513249-6503-4c79-9c74-eda64b26b67d
    ListenerEnabled: True
    DefaultProcess: http

  aws:elasticbeanstalk:environment:process:http:
    Port: 80
    Protocol: HTTP